<html>
  <head>
      <style>
        body, * {
          font-family: 'Times New Roman';
          font-size: 11px;
        }
        body > ul {
          padding-left: 0px;
        }
        body > ul > li {
          margin-left: 0px;
          list-style-type: none;
        }
        body > ul > li > span{
          text-decoration: underline;
        }
        body > ul > li li {
          list-style-type: inherit;
        }
      </style>
  </head>
  <body>
    __BODY_HERE__
  </body>
</html>